{% extends "layout.html" %}
{% block body %} 


<div class="container">

    <br>
    
   <div class="row">
       <div class="col"></div>

        <div class="col-md-4 col-md-offset-4">
                <h4>Login <small style="font-size:12px;">You must login to make a search</small></h4>
            <form action="{{url_for('login') }}" method=POST>
                    {{ form.csrf_token }}
                    <p style="color:red;">{{error}}</p>
                <div class="form-group">
                    
                    <label for="username">Username</label> <br>
                    {%if form.username.errors %}
                        {{ form.username(class_="form-control is-invalid", maxlength='20', placeholder="Username") }}
                    {%else%}
                        {{ form.username(class_="form-control", maxlength='20', placeholder="Username") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    {%if form.password.errors %}
                        {{ form.password(class_="form-control is-invalid", maxlength='20', placeholder="Password") }}
                    {%else%}
                        {{ form.password(class_="form-control", maxlength='20', placeholder="Password") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p><a href="/register">Register</a></p>

        </div>

        <div class="col"></div>

   </div>
</div>


    

{% endblock %}
