{% extends "layout.html" %}
{% block body %} 


<div class="container">

    <br>
    
   <div class="row">
       <div class="col"></div>

        <div class="col-md-4 col-md-offset-4">
                <h4>Register</h4>
            <form action="{{url_for('register') }}" method=POST>
                {{ form.csrf_token }}
                <p style="color:red;">{{error}}</p>
                <div class="form-group">
                    <label for="username">Username</label> <br>
                    {%if form.username.errors %}
                        {{ form.username(class_="form-control is-invalid", maxlength='20', placeholder="Username") }}
                    {%else%}
                        {{ form.username(class_="form-control", maxlength='20', placeholder="Username") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    {%if form.password.errors %}
                        {{ form.password(class_="form-control is-invalid", maxlength='20', placeholder="Password") }}
                    {%else%}
                        {{ form.password(class_="form-control", maxlength='20', placeholder="Password") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name">First Name</label> <br>
                    {%if form.first_name.errors %}
                        {{ form.first_name(class_="form-control is-invalid", maxlength='20', placeholder="First Name") }}
                    {%else%}
                        {{ form.first_name(class_="form-control", maxlength='20', placeholder="First Name") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.first_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            

                <div class="form-group">
                    <label for="last_name">Last Name</label> <br>
                    {%if form.last_name.errors %}
                        {{ form.last_name(class_="form-control is-invalid", maxlength='20', placeholder="Last Name") }}
                    {%else%}
                        {{ form.last_name(class_="form-control", maxlength='20', placeholder="Last Name") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.last_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label> <br>

                    {%if form.email.errors %}
                        {{ form.email(class_="form-control is-invalid", maxlength='20', placeholder="Email") }}
                    {%else%}
                        {{ form.email(class_="form-control", maxlength='20', placeholder="Email") }}
                    {%endif%}

                    <div class="invalid-feedback">
                        <ul>
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>

        </div>

        <div class="col"></div>

   </div>
</div>


    

{% endblock %}
