{% extends "layout.html" %}
{% block body %} 


<div class="container">

    <br>
    <div class="row">
            <div class="col"></div>
    
            <div class="col-md-10">
                <h3>result: {{data.title}}</h3>
    
                    <div class="card">
                        <div class="card-body">
                            
                            <h5>{{data.title}} </h5>
                            <p> 
                                {%if data.shortDescription%}
                                    {{data.shortDescription}}
                                {%else%}
                                    {{data.longDescription}}
                                {%endif%}
                            </p>
                        </div>
                      </div>
                      <br>
                    
                    
                    <br>
            </div>
            
            <div class="col"></div>
    
       </div>
       <br>
    
   <div class="row">
       <div class="col"></div>

        <div class="col-md-10 col-md-offset-10">
                <h4> <a href="/search">Search</a></h4>
            <form action="{{url_for('search') }}" method=GET>

                <div class="form-group">
                    <input type="text" class="form-control" name="search_value" placeholder="Search">
                </div>

            
                <button type="submit" class="btn btn-outline-success btn-block">Search</button>
            </form>
            {%if current_user.is_authenticated%}
                <p>hello <b>{{current_user.username}}</b> <a href="/logout">Logout/Login</a></p>
            {%endif%}

            <br>

            <p>
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Click to see few search terms
                </button>
            </p>

            <div class="collapse" id="collapseExample">
            <div class="card card-body">
                    <p>
                            - Used first 35 document in <a href="https://github.com/ozlerhakan/mongodb-json-files/blob/master/datasets/catalog.books.json">this json dataset found in github.</a><br>
                            - Some recommended search terms: java, web development, software, Christian Bauer, etc <br>
                            - Access elasticsearch index = 'books' at https://o4mmchjcpj:edizapwh7l@banyan-8312058.us-east-1.bonsaisearch.net
        
                        </p>
            </div>
            </div>

        </div>

        <div class="col"></div>

   </div>

   
</div>


    

{% endblock %}
