{% extends "layout.html" %}
{% block body %} 


<div class="container">

    <br>
    
   <div class="row">
       <div class="col"></div>

        <div class="col-md-10 col-md-offset-10">
                <h4> <a href="/search">Search</a></h4>
                {%if error%}    
                    <h5> {{error}}</h5>
                {%endif%}
            <form action="{{url_for('search') }}" method=GET>

                <div class="form-group">
                    <input type="text" class="form-control" name="search_value" placeholder="Search">
                </div>

            
                <button type="submit" class="btn btn-outline-success btn-block">Search</button>
            </form>
            {%if current_user.is_authenticated%}
                <p>hello <b>{{current_user.username}}</b> <a href="/logout">Logout/Login</a></p>
            {%endif%}


            <p>
                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Click to see tips
                </button>
            </p>

            <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p>
                    - Used first 35 document in <a href="https://github.com/ozlerhakan/mongodb-json-files/blob/master/datasets/catalog.books.json">this json dataset found in github.</a><br>
                    - Some recommended search terms: java, web development, software, Christian Bauer, etc <br>
                    - Access elasticsearch index = 'books' at https://o4mmchjcpj:edizapwh7l@banyan-8312058.us-east-1.bonsaisearch.net

                </p>
            </div>
            </div>

        </div>

        <div class="col"></div>

   </div>

   <div class="row">
        <div class="col"></div>

        <div class="col-md-10">
            <br>
            {%if data%}
            <h4>Search Result <small>total result:{{total}}</small></h4>
            {%endif%}

            {%for i in data%}

                <div class="card">
                    <div class="card-body">
                        
                        <a href="/result?id={{i.id['$oid']}}" target="_blank">{{i.title}}</a>
                        <p> 
                            {%if i.shortDescription%}
                                {{i.shortDescription}}
                            {%else%}
                                {{i.longDescription}}
                            {%endif%}
                        </p>
                    </div>
                  </div>
                  <br>

            {%endfor%}

            {%if data%}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page > 1 %}
                            <li class="page-item"><a class="page-link" href="?search_value={{search_value}}&page={{page-1}}">Previous</a></li>
                        {%endif%}
                        
                        {% if page < max_page  %}
                            <li class="page-item"><a class="page-link" href="?search_value={{search_value}}&page={{ page + 1}}">Next</a></li>
                        {%endif%}
                        </ul>
                </nav>
            {%endif%}
        </div>
        
        <div class="col"></div>

   </div>
</div>


    

{% endblock %}
